

.root {
    h2, h3, p {
        color: black;
    }
}

.key {
    background: white;
    border: 2px solid #ddd;
    box-shadow: 0 4px 16px #eee;
    margin-bottom: 16px;
    padding: 0 16px;
    text-align: left;
    line-height: 32px;
}